<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="BaseDirectory" value="/opt/merlion/etc" />

        <add key="Log4NetConfigFile" value="Log4Net.config" />

        <add key="EndpointAddress" value="0.0.0.0:16070" />

        <add key="MasterName" value="Dockerized Merlion" />
        <add key="MasterServerAddress" value="0.0.0.0:5000" />
        <add key="MasterServerCertificate" value="TestCertificate.crt" />
        <add key="MasterServerPrivateKey" value="TestCertificate.key" />
        <add key="DisallowClientSideVersionSpecification" value="False" />

        <add key="BalancerConfigFilePath" value="" />

        <add key="WebInterfaceAddress" value="0.0.0.0:11450" />

        <add key="DeployDirectory" value="" />
        <add key="NodeName" value="Dockerized Merlion" />
        <add key="ForwardLogToMaster" value="True" />

        <add key="UpstreamBufferSize" value="655360" />
        <add key="DownstreamBufferSize" value="655360" />

    </appSettings>
</configuration>
