<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="Log4NetConfigFile" value="" />

        <add key="EndpointAddress" value="0.0.0.0:16070" />

        <add key="MasterServerAddress" value="0.0.0.0:5000" />
        <!--- <add key="MasterServerCertificate" value="/Users/tcpp/.config/Merlion/Cert.pfx" /> --> 
        <add key="MasterServerCertificate" value="/Users/tcpp/.config/Merlion/Cert.crt" />
        <add key="MasterServerPrivateKey" value="/Users/tcpp/.config/Merlion/Cert.key" />

        <add key="BalancerConfigFilePath" value="" />

        <add key="WebInterfaceAddress" value="0.0.0.0:11450" />
        <add key="WebInterfaceAuthentication" 
        value="Merlion.Server.Web.BasicWebInterfaceAuthentication;UserName=hoge;Password=password" />

        <add key="DeployDirectory" value="" />
        <add key="NodeName" value="Default" />
        <add key="ForwardLogToMaster" value="True" />

        <add key="UpstreamBufferSize" value="655360" />
        <add key="DownstreamBufferSize" value="655360" />

    </appSettings>
</configuration>
