<?xml version="1.0" encoding="UTF-8" ?>
<log4net>

	<!-- Output log to the standard output. -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-4timestamp [%thread] &lt;%property{Node}&gt; %-5level %logger %ndc - %message%newline" />
        </layout>
    </appender>

    <appender name="Server" type="Merlion.Server.ServerLogAppender" />

    <root>
        <level value="INFO" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="Server" />
    </root>
</log4net>

